/* You can add global styles to this file, and also import other style files */
html,
body {
    height: auto;
    background-image: url(../src/assets/images/clouds.png);
    background-size: auto;
}

body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// footer alignment comes below
.footer {
    background-color: black;
    font-size: 9px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.containerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardHeader {
    text-align: center;
    font-weight: bold;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.login:hover {
    border: 1px solid #60fe4f;
    background-color: white;
    color: black;
}

.sButton{
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

