<nav class="navbar navbar-expand-lg navbar-dark badge-info">
    <div class="container">
        <a class="navbar-brand" routerLink="./home">Demo Application</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-sm-auto">
                <li class="nav-item btn-sm btn-outline-secondary" routerLinkActive="active">
                    <a class="nav-link" (click)="navigatePages('createrUser')">Create User</a>
                </li>
                <li class="nav-item btn-sm btn-outline-secondary" routerLinkActive="active">
                    <a class="nav-link" (click)="navigatePages('HistoryNav')">History</a>
                </li>
                <li class="nav-item btn-sm btn-outline-secondary" routerLinkActive="active">
                    <a class="nav-link" (click)="navigatePages('paymentNav')">Payment</a>
                </li>
                <li class="nav-item btn-sm btn-outline-primary text-right" role="button">
                    <a class="nav-link text-white" (click)="navigatePages('logoutNav')">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>